<div class="background container-fluid">
  <br/>
  <br/>
  <div class="container col-xl-10 offset-xl-1">
    <mat-card class="detail-card"
              routerLink="playerdetails" (click)="onViewList()"
              *ngIf="player$ | async as player">

      <div class="row">
        <img class="player-image col-lg-2 d-none d-lg-block" src="{{player.picture}}">

        <div class="container offset-xl-1 col-xl-5
                              offset-lg-2 col-lg-4
                              col-12">
          <div class="row align-items-baseline">
            <mat-card-title class="detail-title firstname
                               offset-xl-2 col-xl-10
                               offset-lg-3 col-lg-4
                               offset-md-1 col-md 5
                               col-6
                               text-sm-center
                               text-md-start
                               ">{{player.firstname}}</mat-card-title>
            <mat-card-title class="detail-title lastname
                               offset-xl-2 col-xl-10
                               offset-lg-3 col-lg-4
                               col-6
                               text-center
                               text-md-start
                               d-block d-lg-none
                               ">{{player.lastname}}</mat-card-title>
          </div>
          <div class="row d-none d-lg-block">
            <mat-card-title class="detail-title lastname
                               offset-xl-2 col-xl-10
                               offset-lg-3 col-lg-4
                               col-6
                               ">{{player.lastname}}</mat-card-title>
          </div>
        </div>

        <div class="container offset-xl-1 col-xl-5 d-none d-xl-block">
          <div class="row">
            <img class="country-flag
                    offset-xl-4 col-xl-5
                    offset-lg-1 col-lg-3"
                 alt="FLAG PICTURE" src="{{player.country.picture}}">
          </div>
          <div class="row">
            <mat-card-subtitle
              class="country-code
                     offset-xl-5 col-xl-1
                     col-lg-2 offset-lg-3
                     ">{{player.country.code.charAt(0)}}</mat-card-subtitle>
            <mat-card-subtitle
              class="country-code
                     col-xl-1
                    ">{{player.country.code.charAt(1)}}</mat-card-subtitle>
            <mat-card-subtitle
              class="country-code
                     col-xl-1
                    ">{{player.country.code.charAt(2)}}</mat-card-subtitle>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="container col-12 col-xl-6 offset-xl-2">
          <div class="row">
            <mat-list-item class="detail-item offset-xl-2 col-xl-3
                                              offset-lg-4 col-lg-2
                                              offset-md-1 col-md-3
                                              col-4">RANK</mat-list-item>
            <mat-list-item class="detail-item col-lg-2 col-md-3 col-4">POINTS</mat-list-item>
            <mat-list-item class="detail-item col-lg-2 col-md-3 col-4">COUNTRY</mat-list-item>
          </div>
          <div class="row">
            <mat-list-item class="detail-value  offset-xl-2 col-xl-3
                                                offset-lg-4 col-lg-2
                                              offset-md-1 col-md-3
                                              col-4">{{player.data.rank}}</mat-list-item>
            <mat-list-item class="detail-value col-lg-2 col-md-3 col-4">{{player.data.points}}</mat-list-item>
            <mat-list-item class="detail-value col-lg-2 col-md-3 col-4">{{player.country.name}}</mat-list-item>
          </div>
          <div class="row">
            <mat-list-item class="detail-item offset-xl-2 col-xl-3
                                              offset-lg-4 col-lg-2
                                              offset-md-1 col-md-5
                                              col-6">BIRTHDAY</mat-list-item>
            <mat-list-item class="detail-item col-lg-2 col-md-3 offset-md-1 col-6">AGE</mat-list-item>
          </div>
          <div class="row">
            <mat-list-item class="detail-value offset-xl-2 col-xl-3
                                               offset-lg-4 col-lg-2
                                               offset-md-1 col-md-5
                                               col-6">{{player.data.birthday}}</mat-list-item>
            <mat-list-item class="detail-value col-md-3 offset-md-1 col-6">{{player.data.age}}</mat-list-item>
          </div>
          <div class="row">
            <mat-list-item class="detail-item offset-xl-2 col-xl-3
                                              offset-lg-4 col-lg2
                                              offset-md-1 col-md-3
                                              col-4">WEIGHT</mat-list-item>
            <mat-list-item class="detail-item col-lg-2 col-md-3 col-4">HEIGHT</mat-list-item>
            <mat-list-item class="detail-item col-lg-2 col-md-3 col-4">BMI</mat-list-item>
          </div>
          <div class="row">
            <mat-list-item class="detail-value offset-xl-2 col-xl-3
                                                offset-lg-4 col-lg-2
                                              offset-md-1 col-md-3
                                              col-4">{{player.data.weight}}</mat-list-item>
            <mat-list-item class="detail-value col-md-3 col-4">{{player.data.height}}</mat-list-item>
            <mat-list-item class="detail-value col-md-3 col-4">{{player.data.bmi}}</mat-list-item>
          </div>
        </div>

        <div class="container col-lg-4 col-12">
          <div class="row">
            <mat-list-item class="detail-item col-xl-5">CAREER TITLES</mat-list-item>
            <mat-list-item class="row carreer-title col-xl-12" *ngFor="let title of player.data.titles">
              {{title.year}} - {{title.victories}}
              <mat-list-item class="row title-value col-xl-12">{{title.tournaments}}</mat-list-item>
            </mat-list-item>

          </div>
        </div>

      </div>
    </mat-card>

  </div>
</div>


