.stat-card {
  min-height: 170px;
  height: auto;
  width: auto;
  min-width: 300px;
  margin: 10px;
  overflow: hidden;
  padding: 0;
}

.stat-title{
  color: #F2753B;
  font-family: Montserrat;
  margin-top: 40px;
}

.stat-item{
  display: flex;
  justify-content: space-around;
  color: black;
  opacity: 30%;
  font-family: Mulish;
  text-align: center;
}


.stat-value{
  display: flex;
  justify-content: space-around;
  color: #F2753B;
  font-family: Montserrat;
  font-size: small;
  opacity: 100;
}
